# Build artifacts
*.o
*.obj
*.exe
*.rsp
*.sh
CMakeLists.txt
Makefile*
dev-server.py
server.py
build.py
link.rsp

# Dependencies & temporary folders
dtc-src/
build/
build-wasm/
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
