/dts-v1/;

/ {
    compatible = "gatito-dtb-pacher,smoke";
    model = "gatito-dtb-pacher Native Smoke Test";

    test-node {
        test-value = <0x12345678>;
        test-string = "native";
    };
};
